.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
.build/
.venv/
venv/
myenv/
.env
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.cache/
node_modules/
guides/
celery.log